body
{
    background-color : #FFFFFF;
    font-family: Arial, Verdana, serif;
    font-size : small;

}

h1
{
    text-align : center;
    font-family: Arial, Verdana, serif;
    color : #0C2E82;
    background-color: white;
}

h2
{
    color : #0C2E82;
    text-align : center;
}

h3
{
    text-align : center;
}

p
{
    color : #0C2E82;
    font-family: Arial, Verdana, serif;
    font-size : small;

}
#index_condition_utilisation{
    margin-left: auto;
    margin-right : auto;
    width : 1000px;
    clear : both;
}
td
{
    text-align : left;
    color : #0C2E82;
}
img
{
    border : 0px;
}

li
{
    color : #0C2E82;
    font-size : small;
}

.english
{
    color :#666666;
}
.centrer
{
    text-align : center;
}

.gauche{
    text-align : left;
}

.droit
{
    text-align : right;
}

.gras
{
    font-weight : bold;
}

.pantone
{
    color :#0C2E82;
}

.index_conditUtil_para{
    text-align : justify
}
input
{
    font-family: Arial, "Arial Black", serif; /* On modifie la police du texte tapé l'intérieur des champs */
    color: #0C2E82;
    border: 1px solid dodgerblue;
    /*	border-style: dotted; */
    background-color: white;
}

.valider
{
    font-family: Arial, "Arial Black", serif; /* On modifie la police du texte tapé l'intérieur des champs */
    color: #000000;
    border: 0 solid dodgerblue;
    /*	border-style: dotted; */
    background-color: white;

}


label
{
    font-weight: bold;
    color :	#0C2E82;;
    /* background-color: white;  */
}

legend /* titres des fieldset */
{
    font-family: Arial, "Arial Black", Georgia, "Times New Roman", Times, serif;
    color: #336699;
    font-weight: bold;
    background-color: white;
}

fieldset
{
    margin-bottom: 15px; /* Une marge pour séparer les fieldset */
}

A
{
    color:#336699;
    text-decoration:none;
    font-weight:bold;
}

A:hover
{
    color:#112244;
    text-decoration:none;
    font-weight:bold;
}


#langue{
    width:90%;
    height: 2%;
    background-position:center;
    text-align:right;
    background-repeat:no-repeat;
    background-color:white;
    position:absolute;
    top:0%;
    /*left:0px;*/
}

.langue{
    color:yellow;
    font-family:Arial, Helvetica, sans-serif;
    font-size:16px;
    font-weight:bold;
    position:relative;
    background-color:gray;
    top : 50%;
    right : 10%;
}

#index_principal{
    width : 1000px;
    text-align : center;
    margin-left: auto;
    margin-right : auto;
}

.img_logo{
    vertical-align: middle;
    margin-right: 20px;
}

.index_contact{
    color : #ff0000;
}

#index_inscrip{
    float : left;
    height : 300px;
    width : 599px;
    text-align : right;
}

.index_fieldset{
    height : 250px;
}

.index_fieldset_para{
    text-align : left;
}

.index_inscrip_table{
    margin-left : auto;
    margin-right: auto;
}

.index_inscrip_pays{
    width:100%
}

.gesComptes_fieldset_table{
    margin-left : auto;
    margin-right: auto;
}

.gesCompte_combo{
    width:355px;
}

#index_login{
    float : right;
    width : 400px;
}

.index_fieldset_login{
    height : 250px;
    text-align : right;
}

.index_login_para{
    text-align : center;
}

.index_login_table{
    margin-left : auto;
    margin-right : auto;
}

.btValid{
    text-align : right;
}

#index_contacts{
    margin-left: auto;
    margin-right : auto;
    width : 400px ;
    clear: both;
}

.index_contacts_para{
    text-align : center;
}

.index_contacts_table{
    margin-left: auto;
    margin-right : auto;
}

.index_downloadPDF{
    text-align: center;
}

.index_logo_bas{

    text-align: center;
}

.newuser_revenir{
    text-align : center;
}

.updateComptes_loginTableInfo{
    border:solid;
    border-color:black;
    border-collapse:collapse;
    margin-left:auto;
    margin-right:auto;
}

.updateComptes_loginTableInfoContenu{
    border:solid;
    border-color:black;
    font-weight:bold;
    border-collapse:collapse;
}

.stat2_tableInfo{
    margin-left: auto;
    margin-right : auto;
}

.stat2_headerLogin{
    width : 150px;
}

.stat2_headerDerniereDate{
    width:300px;
}

.stat_largeurTh{
    width:100px;
}
.stat_largeurTd{
    width:500px;
}

.stat_table_login{
    width : 150px;
}

.stat-table_institution{
    width : 150px;
}
.stat_table_email{
    width : 300px;
}
.stat_table_nbFichEnvoi{
    width : 110px;
}

.stat3_table{
    margin-left : auto;
    margin-right: auto;
}

.stat3_combo{
    width:100px;
}

#admin{
    width:40%;
    height: 3%;
    background-position:left;
    text-align:left;
    text-decoration:underline;
    font-size:10px;
    background-repeat:no-repeat;
    background-color:white;
    position:absolute;
    top:0%;
    left:1%;
}

#initMotPasse{
    width:500px;
    height: 130px;
    background-position:left;
    text-align:left;
    text-decoration:none;
    background-repeat:no-repeat;
    background-color:white;
    position:absolute;
    top:200px;
    left:1%;
}

#initInstitution{
    width:500px;
    height: 130px;
    background-position:left;
    text-align:left;
    text-decoration:none;
    background-repeat:no-repeat;
    background-color:white;
    position:absolute;
    top:200px;
    left:550px;
}

#initPays{
    width:500px;
    height: 130px;
    background-position:left;
    text-align:left;
    text-decoration:non;
    background-repeat:no-repeat;
    background-color:white;
    position:absolute;
    top:350px;
    left:1%;
}

#initEmail{
    width:500px;
    height: 130px;
    background-position:left;
    text-align:left;
    text-decoration:non;
    background-repeat:no-repeat;
    background-color:white;
    position:absolute;
    top:350px;
    left:550px;
}

#initPrivillege{
    width:500px;
    height: 130px;
    background-position:left;
    text-align:left;
    text-decoration:non;
    background-repeat:no-repeat;
    background-color:white;
    position:absolute;
    top:500px;
    left:1%;
}

#initSupprimmer{
    width:500px;
    height: 130px;
    background-position:left;
    text-align:left;
    text-decoration:non;
    background-repeat:no-repeat;
    background-color:white;
    position:absolute;
    top:500px;
    left:550px;
}

#login_a_modfier{
    width:100%;
    height: 60px;
    background-position:center;
    text-align:center;
    text-decoration:non;
    background-repeat:no-repeat;
    background-color:white;
    position:absolute;
    top:120px;
    left:1%;
}

#message_updateCompte{
    width:98%;
    height:100px;
    background-position:center;
    text-align:center;
    text-decoration:non;
    background-repeat:no-repeat;
    background-color:white;
    position:absolute;
    top:200px;
    left:1%;
}

.gesComptes_fieldset_para{
    text-align : left;
}

#stat2_princip{
    width : 1000px;
    text-align : center;
    margin-left: auto;
    margin-right : auto;
}

#stat_menu{
    width:100%;
    height: 20px;
    background-position:center;
    text-align:center;
    background-repeat:no-repeat;
    background-color:#DCDCDC;
    position:relative;
}

.stat_menu{
    font-weight:bold;
    color:#191970;
}

#stat_resultat_period_login{
    width:96%;
    height: 100%;
    background-position:center;
    text-align:center;
    background-repeat:no-repeat;
    background-color:/*#E6E6FA*/#191970;
    position:relative;
    top:50px;
    left:1%;
    color:white;
    font-weight:bold;
}

#stat3_autre_login{
    width:96%;
    height: 20px;
    background-position:center;
    text-align:center;
    background-color:#DCDCDC;
    background-repeat:no-repeat;
    position:relative;
    top:30px;
    left:1%;
    color:black;
    font-weight:bold;
}

#stat2_entete{
    width:96%;
    height: 20px;
    background-position:center;
    text-align:center;
    background-color:black;
    background-repeat:no-repeat;
    position:relative;
    color:white;
    font-weight:bold;
}

.stat_th {
    font-family: monospace;
    border: thin solid #6495ed;
    padding: 5px;
    background-color: #D0E3FA;
}

.stat_td {
    font-family: sans-serif;
    border: thin solid #6495ed;
    padding: 5px;
    text-align: center;
    background-color: #ffffff;
}

.command {
    padding-top:2px;
    padding-bottom:2px;
}

.img-gallery img {
    padding-top: 1px;
    padding-bottom: 1px;
}

.fake-header {
    font-size: 90%;
    color: #039;
    background: #CCC url(../img/background_createst.jpg) repeat-x;
    text-align: right;
    padding-top: 9px;
    padding-right: 20px;
    padding-bottom: 9px;
    border-bottom-width: 1px;
    border-bottom-style: solid;
    border-bottom-color: #A2A2A2;
    font-style: normal;
    line-height: normal;
    margin-bottom: 20px;
}

.menuBar {
    clear:both;
    height:30px;
    width:100%;
    padding:0;
    margin:0;
    background-image:url('../img/menubar-background-light.gif');
}